# Entorno Virtual Python
bin/
include/
lib/
pyvenv.cfg
venv/

# Caché de Python
__pycache__/
*.pyc

# Base de datos
*.db
*.db-shm
*.db-wal
databases/

# Logs
logs/
*.log

# Configuración sensible
old/
.env
fatiga.json
fatiga/
fatiga_temp.json

# Archivos de backup
*.backup
*.bak

# JSON de items de POE2 (se descargan dinámicamente de la API)
roles/buscador_tesoros/items_ID_*.json
